 <!-- ===================== View Engine ===================== -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <title>Weather App with Node and Ejs</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <nav>
        <div class="nav-wrapper deep-orange lighten-2"> 
          <a href="http://localhost:3000" class="brand-logo">Weather App</a>
          <form action="/search" method="POST" class="right">
            <div class="input-field">
              <input type="search" name="city" placeholder="Enter a City" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>  
        </div>
      </nav>

      <div class="z-depth-2 row">
        <div class="col s12">
          <% if(weather !== null){ %>
            <h3>Weather in <%=city %>, <%= country %> </h3>
            <h4><%=weather %><img src="http://openweathermap.org/img/w/<%=icon%>.png" alt="<%=weather%>"></h4>
            <p>Sunrise: <%=sunRise%> (current local time)</p>
            <p>Sunset: <%=sunSet%> (current local time)</p>
            <p>Humidity: <%=humidity%>%</p>
            <p>Tempreture: <%=Math.round(cTemp) %>°C</p>      
            <p><%=Math.round(fTemp) %>°F</p>
            <p>Wind speed: <%=windSpeed %> mph</p>
            <p>Pressure: <%=pressure%> hPa</p>    
          <% }else{ %>
            <h3><%=error%></h3>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>